<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
 -->
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/create.css" />
    <link href="../fontawesome-free-5.4.1-web/css/all.css" type="text/css" rel="stylesheet">
    <link href="../fontawesome-free-5.4.1-web/css/brands.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="logo">
        <!-- LOGO -->
        <img src="../images/e83b8884-0c2a-4e30-b752-23ab96e756b0.png" alt="bank logo">
    </div>

    <nav class="mine">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="steps">

        <h2>To create an account just follow the following steps:</h2>
        <ol>
            <li>Fill in the form below</li>
            <li>Confirm your details</li>
            <li>Submit form</li>
        </ol>
        <span class="easy">It's that easy!</span>

    </div>

    <form id="create" action="" method="POST" enctype="multipart/form-data">

        <span id="prev"><i class="fas fa-arrow-left"></i></span>
        <span id="next"><i class="fas fa-arrow-right"></i></span>
      
<span id="page"> <strong> <span id="current">1</span> / 3</strong> </span>
       
      <!--Personal-->
        <div id="personal">


            <h2 class="title">Personal Information</h2>

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="Your first name..." autofocus>

            <label for="fname">Middle Name</label>
            <input type="text" id="mname" name="mname" placeholder="Your middle name...">

            <label for="fname">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Your last name...">

            <label for="sex">Sex</label>
            <table>
                <tr>
                    <td><input type="radio" name="sex" value="female"></td>
                    <td>Female</td>
                </tr>
                <tr>
                    <td><input type="radio" name="sex" value="male"></td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td><input type="radio" name="sex" value="other"></td>
                    <td>Other</td>
                </tr>
            </table>
           

            <label for="dob">Date Of Birth</label>
            <input type="date" name="dob" id="dob">

            <label for="homeaddress">Home Address</label>
            <textarea name="homeaddress" id="homeaddress" placeholder="Your home address..."></textarea>

            <label for="origin">State Of Origin</label>
            <input type="text" name="origin" id="origin">

            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" id="phone" placeholder="001 234 5678">

            <label for="email">E-mail address</label>
            <input type="email" name="email" id="email" placeholder="yourmail@smtn.com">

            <label for="passport">Passport</label>
            <input type="file" name="passport" id="passport">



        </div>
        <!--Next of kin-->
        <div id="kin">
            <h2 class="title">Next of Kin</h2>

            <label for="kfname">First Name</label>
            <input type="text" id="kfname" name="kfname" placeholder="First name..."autofocus>

            <label for="kfname">Middle Name</label>
            <input type="text" id="kmname" name="kmname" placeholder="Middle name...">

            <label for="kfname">Last Name</label>
            <input type="text" id="klname" name="klname" " placeholder="Last name...">

            <label for="kphone">Phone Number</label>
            <input type="tel" name="kphone" id="kphone">

            <label for="kemail">E-mail address</label>
            <input type="email" name="kemail" id="kemail">

            <label for="rel">Nature of realtionship</label>
            <select name="rel" id="rel">
                <option value="">--Select--</option>
                <option value="sibling">Sibling</option>
                <option value="spouse">Spouse</option>
                <option value="parent">Parent</option>
                <option value="child">Child</option>
                <option value="other">Other</option>
            </select>

            <div class="other">
                <p>If Other, please specify:</p>
                <input type="text" name="rel" id="rel">
            </div>

            <label for="khomeaddress">Home Address</label>
            <textarea name="khomeaddress" id="khomeaddress"></textarea>



        </div>
          <!--Account-->
        <div id="account">
            <h2 class="title">Account Specifics</h2>

             <label for="bvn">Bank Verification Number (BVN) if available</label>
            <input type="tel" name="bvn" id="bvn">

            <label for="acctype">Account Type:</label>
           
            <table>
                <tr>
                    <td><input type="radio" name="acctype" value="savings"></td>
                    <td>Savings</td>
                </tr>
                <tr>
                    <td><input type="radio" name="acctype" value="current"></td>
                    <td>Current</td>
                </tr>
               
            </table>
           

           
        </div>



    </form>

    <script src="../scripts/create.js"></script>
</body>

</html>