<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
        crossorigin="anonymous">
    <!-- <link href="../fontawesome-free-5.4.1-web/css/all.css" rel="stylesheet">
    <link href="../fontawesome-free-5.4.1-web/css/brands.css" rel="stylesheet"> -->
    
</head>

<body>
    <div class="logo">
        <!-- LOGO -->
        <img src="../images/e83b8884-0c2a-4e30-b752-23ab96e756b0.png" alt="bank logo">
    </div>

    <nav class="mine">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="create.html">Create Account</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <h2>
        Log in to your account
    </h2>

    <form id="login" action="" method="POST">

        <div class="inradius"></div>
        <div class="inradius"></div>
        <div class="inradius"></div>
        <div class="inradius"></div>

        <label for="username"> NAME:
            <p>
                <input type="text" id="username" name="username" placeholder="Username..." autofocus>
            </p>

        </label>
        <br>

        <label for="password"> PASSWORD:
            <p>
                <input type="password" id="password" name="password">
            </p>

        </label>

        <div class="loginbtn">

            LOGIN
            <i class="fas fa-sign-in-alt"></i>

        </div>

    </form>




</body>

</html>